* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	outline: none;
    -webkit-font-size-adjust: none;
    -ms-font-size-adjust: none;
    -o-font-size-adjust: none;
    font-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	margin: 0;
	padding: 0;
	line-height: 18px;
	font-size:12px;
}

.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

ul {
    list-style: none;
    display: block;
}

.top-nav {
    border-bottom: 1px solid #dedede;
    height: 40px;
    color: #666;
    background-color: #fafafa;
    
}

.left-sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 240px;
    padding: 10px;
    background-color: #fafafa;
}

.logo {
    padding: 15px;
}

.left-sidebar ul li{
    padding: 12px;
    color: #333;
}

.left-sidebar ul li a {
    font-size: 16px;
    text-decoration: none;
    padding: 0 25px;
    color: #333;
    font-family: hiragino sans gb,microsoft yahei,simsun;
}

.left-sidebar ul li:hover{
    padding: 12px;
    color: #ff4500;
    border-left: 2px solid #ff4500;
    border-bottom: 1px solid #dedede;
}

.left-sidebar ul li a:hover {
    font-size: 16px;
    text-decoration: none;
    padding: 0 25px;
    color: #ff4500;
    font-style: italic;
   
    font-family: hiragino sans gb,microsoft yahei,simsun;
}

.left-sidebar ul li  span {
    font-size: 18px;
    float: left;
}

.left-sidebar ul li  strong {
    float: right;
    font-size: 10px;
}

.content {
    position: relative;
    left: 240px;
    float: left;
    height: 100%;
    width: 100%;
}

/*.top-nav {
    top: 0;
    position: fixed;
    background-color: red;
}

.bottom-nav ul, .top-nav ul {
    list-style: none;
    display: block;
    
}

.bottom-nav ul li, .top-nav ul li{
    float: left;
    font-size: 20px;
    line-height: 20px;
    padding: 0 10px;
    text-align: center;
    color: #fff;
}

.glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-size: 10px;
}

.bottom-nav {
  
    bottom: 0;
    position: fixed;
    z-index: 1000;
   
    background-color: red;
}*/

/***/
#main {
    /*position: fixed;
    top: 45px;*/
   
    width: 100%;
}

.tab-title li{
    float: left;
}
/**:focus {
	outline: none;
}

*,*:after,*:before {-webkit-box-sizing: border-box;	-moz-box-sizing: border-box;	box-sizing: border-box;	padding: 0;	margin: 0;}


::selection {
	background-color: none;
	color: #fff;
}

div, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
	display: block;
	overflow:hidden;
	position:relative;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}
p > a {
	display: inline;
	text-decoration: none;
}
p > a:hover {
	text-decoration: underline;
}
p > span {
	display: inline;
}
span > a {
	display: inline;
}
a > span {
	display: inline;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

h1 {
	font-size: 22px;
	line-height: 26px;
}
h2 {
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 1px;
}
h3 {
	font-size: 18px;
	line-height: 22px;
	padding-top: 1px;
}
h4 {
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 1px;
}

h6{
	font-size:12px;
	line-height:18px;
	padding-bottom:1px;
}

h5 {
	font-size: 14px;
	line-height: 18px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
	display: inline;
}
h1, h2, h3, h4, h5{
	font-weight:600; 
	margin-bottom:5px;	
}

table {
	border-collapse: separate;
	border-spacing: 0;
	background-color: #f6f6f6;
	border-left: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	width: 100%;
	clear: both;
	margin-bottom: 27px;
}

th {
	vertical-align: middle;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	font-weight: bold;
	color: #555;
	background-color: #f6f6f6;
}
tr {
	line-height: 18px;
}
td {
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	text-align: center;
	color: #666;
	padding-top: 9px;
	padding-bottom: 9px;
	line-height: 18px;
	vertical-align: middle;
	background-color: #fdfdfd;
}
tr:hover > td {
	background: #fff;
}

ul {
	margin-bottom: 20px;
}

.regular-list{
	overflow:visible!important;
	margin-left:0;
}

.number-list li{
	overflow:visible!important;
	margin-left:0;
	list-style:decimal;
	margin-left:20px;
}

ol {
	margin-bottom: 20px;
}
li {
	line-height: 18px;
	margin-bottom:5px;
	list-style:inside;
}

ol > li:last-child, ul > li:last-child {
    margin-bottom:0;	
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
}*/