<a id="update">update stock data</a>
<a id="initialStocks" href="#">初始数据库</a>
<a id="updatemissing" href="#">更新logging数据</a>
@section scripts
{
    <script src="/Scripts/Maintain/maintain.js"></script>
}